.App {
  text-align: center;
  display: flex;
  align-items: center;
}

img {
  width: 90vw;
  height: 90vh;
  object-fit: cover;
}

button {
  position: absolute;
  width: 60px;
  height: 60px;
  font-size: 20px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.right {
  margin-right: 92px;
  right: 0;
}
