.accordion {
  border: 1px solid #ddd;
  border-radius: 5px;
}

.accordion-item {
  border-bottom: 1px solid #ddd;
  width: 100vh;
}

.accordion-item:last-child {
  border-bottom: none;
}

.accordion-header {
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.accordion-toggle {
  font-weight: bold;
}

.accordion-content {
  padding: 10px;
}
