input {
  width: 230px;
  height: 40px;
  outline: none;
  font-size: 20px;
  font-weight: bold;
  padding: 5px;
}

.shopping-list {
  width: 230px;
  height: 160px;
  margin: 10px auto;
  background-color: lightgray;
  overflow-y: auto;
}

.product {
  text-align: left;
  margin: 10px;
  font-size: 20px;
  padding: 5px;
  cursor: pointer;
}

.product:hover {
  background-color: aliceblue;
  border-radius: 5px;
}

.bucket {
  width: 300px;
  margin: 50px auto;
}

.shopping-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  background-color: lightpink;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
}

button {
  border: none;
  font-size: 10px;
  font-weight: bold;
  cursor: pointer;
  width: 30px;
  height: 30px;
}

button:hover {
  background-color: #fff;
}

.strike {
  text-decoration: line-through;
  color: lightgray;
}
